<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectTry"
        tools:targetApi="31">
        <activity
            android:name=".Activities.locationSupport"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAWiJN-G91OhUQ2CIzaJqfL2TwVPNd2GsE" />

        <service
            android:name=".Services.LocationTrackerService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensor" />
        <activity
            android:name=".Activities.ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ShareActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.TermsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.HelpActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.AddTaskActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.loginPage"
            android:exported="false" />
        <activity
            android:name=".Activities.userRegistration"
            android:exported="false" />
        <activity
            android:name=".Activities.signOut"
            android:exported="false" />
        <activity
            android:name=".Activities.resetPassword"
            android:exported="false" />
    </application>

</manifest>